@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
}

html,
body {
  background-color: var(--color-background-1);
  color: var(--color-black-400);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}
.bold {
  font-weight: var(--font-weight-bold);
}
.semibold {
  font-weight: var(--font-weight-semibold);
}

.medium {
  font-weight: var(--font-weight-medium);
}

.regular {
  font-weight: var(--font-weight-regular);
}

.main-container {
  padding: 0 260px;
}

@media (min-width: 744px) and (max-width: 1023px) {
  .main-container {
    padding: 0 72px;
  }
}

@media (max-width: 743px) {
  .main-container {
    padding: 0 24px;
  }
}
